# Concrete Demand Forecasting - Data Science Project

**Objectives:**
- MAPE ≤ 15% for 8-week forecasts
- ≥ 98% service level
- +20% utilization, -30% write-offs

## Step 1: Data Ingestion & Cleaning

In [4]:
import sqlite3
import pandas as pd
import numpy as np

In [5]:
#Connecting to the Database

db_path = "MIG_Cement_Records.db"
conn = sqlite3.connect(db_path)

In [7]:
# Load tables

sites_df = pd.read_sql("SELECT * FROM Sites", conn)
cement_df = pd.read_sql("SELECT * FROM CementTypes", conn)
ops_df = pd.read_sql("SELECT * FROM Operations", conn)

conn.close()

In [9]:
#Print tables in the database and what their size looks like 

print("✅ Tables loaded successfully:")
print(f"Sites: {sites_df.shape}, CementTypes: {cement_df.shape}, Operations: {ops_df.shape}")

✅ Tables loaded successfully:
Sites: (30, 4), CementTypes: (3, 1), Operations: (32880, 11)

## Step 2: Inspect and Clean Data

In [10]:
# Merge with site info (region, capacity, behavior)
merged_df = ops_df.merge(sites_df, on="site_id", how="left")

In [12]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32880 entries, 0 to 32879
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      32880 non-null  object
 1   site_id                   32880 non-null  object
 2   cement_type               32880 non-null  object
 3   planned_pour_tonnes       32880 non-null  float64
 4   consumed_tonnes           32880 non-null  float64
 5   opening_inventory_tonnes  32880 non-null  float64
 6   deliveries_tonnes         32880 non-null  float64
 7   closing_inventory_tonnes  32880 non-null  float64
 8   rain_mm                   32880 non-null  float64
 9   avg_temp_c                32880 non-null  float64
 10  silo_capacity_x           32880 non-null  int64
 11  region                    32880 non-null  object
 12  silo_capacity_y           32880 non-null  int64
 13  behavior                  32880 non-null  object
dtypes: float64(7), int64(2), object(5)
memory usage: 3.5+ MB

In [15]:
#Changing the date datatype to date&time
merged_df['date'] = pd.to_datetime(merged_df['date'])

In [16]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32880 entries, 0 to 32879
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      32880 non-null  datetime64[ns]
 1   site_id                   32880 non-null  object
 2   cement_type               32880 non-null  object
 3   planned_pour_tonnes       32880 non-null  float64
 4   consumed_tonnes           32880 non-null  float64
 5   opening_inventory_tonnes  32880 non-null  float64
 6   deliveries_tonnes         32880 non-null  float64
 7   closing_inventory_tonnes  32880 non-null  float64
 8   rain_mm                   32880 non-null  float64
 9   avg_temp_c                32880 non-null  float64
 10  silo_capacity_x           32880 non-null  int64
 11  region                    32880 non-null  object
 12  silo_capacity_y           32880 non-null  int64
 13  behavior                  32880 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(2), object(4)
memory usage: 3.5+ MB

In [18]:
#Checking if there are empty rows or values 

merged_df.isnull().sum()

date                        0
site_id                     0
cement_type                 0
planned_pour_tonnes         0
consumed_tonnes             0
opening_inventory_tonnes    0
deliveries_tonnes           0
closing_inventory_tonnes    0
rain_mm                     0
avg_temp_c                  0
silo_capacity_x             0
region                      0
silo_capacity_y             0
behavior                    0
dtype: int64

In [19]:
#checking to see if there are duplicated values and drop if there is any

merged_df.drop_duplicates(inplace=True)

In [20]:
#Let take a look at the merging table in dataframe format

merged_df.head()

,date,site_id,cement_type,planned_pour_tonnes,consumed_tonnes,opening_inventory_tonnes,deliveries_tonnes,closing_inventory_tonnes,rain_mm,avg_temp_c,silo_capacity_x,region,silo_capacity_y,behavior
0,2022-01-01,SITE_001,CEM_II,43.18,34.54,52.56,45.83,63.85,3.40,-3.10,448,North,448,aggressive
1,2022-01-02,SITE_001,CEM_I,45.26,45.26,63.85,19.97,38.56,3.23,14.28,448,North,448,aggressive
2,2022-01-03,SITE_001,CEM_III,38.69,38.69,38.56,47.19,47.06,2.64,6.40,448,North,448,aggressive
3,2022-01-04,SITE_001,CEM_I,33.16,33.16,47.06,18.74,32.64,8.25,14.23,448,North,448,aggressive
4,2022-01-05,SITE_001,CEM_III,56.88,47.04,32.64,14.40,0.00,2.69,8.97,448,North,448,aggressive

## Step 3: Exploratory Data Analysis

In [24]:
#Calculating the inventory to validate if we have a perfect inventory.

merged_df['inventory_check'] = (
    merged_df['opening_inventory_tonnes'] + merged_df['deliveries_tonnes'] - merged_df['consumed_tonnes']
).round(2) == merged_df['closing_inventory_tonnes'].round(2)

In [25]:
merged_df['inventory_check']

0        True
1        True
2        True
3        True
4        True
         ...
32875    True
32876    True
32877    True
32878    True
32879    True
Name: inventory_check, Length: 32880, dtype: bool

In [27]:
#Checking the mean of the inventory to validate if it corresponding to the operation valuw 
merged_df['inventory_check'].mean()

0.999787104622871

***KPI Analysis on the business challenges***

In [36]:
#Calculating the KPI analysis on stockout 

merged_df['stockout'] = merged_df['planned_pour_tonnes'] > (merged_df['opening_inventory_tonnes']) + merged_df['deliveries_tonnes']

In [38]:
#Calculating the KPI analysis on overstocking

merged_df['overstocking'] = merged_df['closing_inventory_tonnes'] > merged_df['silo_capacity_y']

In [39]:
#Calculating the KPI analysis on idle

merged_df['idle'] = (merged_df['planned_pour_tonnes'] == 0) & (merged_df['deliveries_tonnes']== 0)

In [41]:
#Calculating the KPI analysis on waste risk
merged_df['waste_risk'] = (merged_df['closing_inventory_tonnes'] > 0.85 * merged_df['silo_capacity_y']) & (merged_df['planned_pour_tonnes'] < 5)

In [43]:
#Calculating the KPI analysis on waste risk
merged_df['waste_risk'] = (merged_df['closing_inventory_tonnes'] > 0.85 * merged_df['silo_capacity_y']) & (merged_df['planned_pour_tonnes'] < 5)

In [46]:
#Calculating the KPI analysis on pour_disrupt
merged_df['pour_disrupt'] = (merged_df['planned_pour_tonnes'] > 0) & (merged_df['consumed_tonnes'] == 0)

***KPI Analysis summary***

In [47]:
kpi_summary = merged_df.groupby('site_id').agg(
    total_days=('date','count'),
    total_consumed_tonnes=('consumed_tonnes', 'sum'),
    avg_daily_consumed=('consumed_tonnes', 'mean'),
    stockout_pct=('stockout', lambda x: round(x.mean() * 100,2)),
    overstocking_pct=('overstocking', lambda x: round(x.mean() * 100,2)),
    idle_pct=('idle', lambda x: round(x.mean() * 100,2)),
    waste_risk_pct=('waste_risk', lambda x: round(x.mean() * 100,2)),
    pour_disrupt_pct=('pour_disrupt', lambda x: round(x.mean() * 100,2)),
    silo_capacity=('silo_capacity_y', 'first'),
    region=('region', 'first')
).reset_index()

In [48]:
kpi_summary

,site_id,total_days,total_consumed_tonnes,avg_daily_consumed,stockout_pct,overstocking_pct,idle_pct,waste_risk_pct,pour_disrupt_pct,silo_capacity,region
0,SITE_001,1096,33056.40,30.160949,55.75,0.00,0.00,0.00,4.84,448,North
1,SITE_002,1096,12900.44,11.770474,0.00,98.81,0.00,3.56,0.00,288,South
2,SITE_003,1096,32520.09,29.671615,54.38,0.00,0.00,0.00,5.75,314,East
3,SITE_004,1096,12618.50,11.513230,0.00,98.08,0.00,4.93,0.00,472,South
4,SITE_005,1096,32935.68,30.050803,56.93,0.00,0.00,0.00,4.38,230,South
5,SITE_006,1096,28601.16,26.095949,16.15,0.00,2.55,0.09,3.47,443,East
6,SITE_007,1096,32607.65,29.751505,57.03,0.00,0.00,0.00,5.20,485,East
7,SITE_008,1096,32689.50,29.826186,60.49,0.00,0.00,0.00,4.47,260,West
8,SITE_009,1096,12735.31,11.619808,0.00,98.81,0.00,4.29,0.00,352,East
9,SITE_010,1096,33579.76,30.638467,57.03,0.00,0.00,0.00,4.56,158,West
10,SITE_011,1096,32587.01,29.732673,61.04,0.00,0.00,0.00,5.20,287,South
11,SITE_012,1096,12414.32,11.326934,0.00,99.09,0.00,4.56,0.00,274,East
12,SITE_013,1096,29778.98,27.170602,8.94,50.82,1.55,13.14,4.47,154,South
13,SITE_014,1096,29338.97,26.769133,7.30,32.21,2.01,10.22,3.92,230,West
14,SITE_015,1096,12226.88,11.155912,0.00,99.54,0.00,5.38,0.00,120,North
15,SITE_016,1096,29339.46,26.769580,11.95,15.33,2.83,3.28,3.65,487,East
16,SITE_017,1096,32530.14,29.680785,58.49,0.00,0.00,0.00,4.84,341,East
17,SITE_018,1096,33348.09,30.427089,55.84,0.00,0.00,0.00,4.01,152,East
18,SITE_019,1096,12608.89,11.504462,0.00,98.08,0.00,4.47,0.00,466,South
19,SITE_020,1096,32585.67,29.731451,58.30,0.00,0.00,0.00,3.74,363,South
20,SITE_021,1096,33009.68,30.118321,59.12,0.00,0.00,0.00,5.02,180,East
21,SITE_022,1096,32934.03,30.049297,60.13,0.00,0.00,0.00,4.47,487,South
22,SITE_023,1096,12995.74,11.857427,0.00,99.00,0.00,4.11,0.00,153,East
23,SITE_024,1096,29919.14,27.298485,4.93,33.49,2.28,9.12,3.38,290,East
24,SITE_025,1096,33604.06,30.660639,56.48,0.00,0.00,0.00,4.93,261,South
25,SITE_026,1096,29875.39,27.258568,8.49,6.66,2.37,3.01,4.20,369,South
26,SITE_027,1096,12568.90,11.467974,0.00,98.72,0.00,4.84,0.00,314,North
27,SITE_028,1096,28947.34,26.411807,9.67,16.79,2.74,6.02,3.01,395,East
28,SITE_029,1096,12612.85,11.508075,0.00,98.27,0.00,4.93,0.00,437,West
29,SITE_030,1096,32459.18,29.616040,54.47,0.00,0.00,0.00,4.65,316,South

## Step 3(i): Study demand by site, cement type, and seasonality.

In [28]:
#Temporal Features — Seasonality

merged_df["year"] = merged_df["date"].dt.year
merged_df["month"] = merged_df["date"].dt.month
merged_df["week"] = merged_df["date"].dt.isocalendar().week
merged_df["day_of_week"] = merged_df["date"].dt.dayofweek

In [29]:
#Defining meteorological seasons (UK context)

In [30]:
def get_season(month):
    if month in [12, 1, 2]:
        return "Winter"
    elif month in [3, 4, 5]:
        return "Spring"
    elif month in [6, 7, 8]:
        return "Summer"
    else:
        return "Autumn"

In [31]:
merged_df["season"] = merged_df["month"].apply(get_season)

In [32]:
merged_df["season"]

0        Winter
1        Winter
2        Winter
3        Winter
4        Winter
          ...
32875    Winter
32876    Winter
32877    Winter
32878    Winter
32879    Winter
Name: season, Length: 32880, dtype: object

## Demand Metrics by Site and Cement Type

In [34]:
merged_df["daily_demand_avg"] = merged_df.groupby(["site_id", "cement_type"])["consumed_tonnes"].transform("mean")
merged_df["daily_demand_avg"]

0        30.780267
1        30.040933
2        29.623141
3        30.040933
4        29.623141
           ...
32875    30.915028
32876    28.365972
32877    30.915028
32878    29.562005
32879    28.365972
Name: daily_demand_avg, Length: 32880, dtype: float64

## Step 4: Forecasting Model Development

## Step 4: Inventory Simulation

## Step 5: Dash App Development